/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/login/login.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.login_container__js8X_ {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form__k1kAj {
  width: 375px;
  height: 412px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--bgSoft);
  padding: 37.5px;
  border-radius: 7.5px;
  justify-content: center;
  align-items: center;
  gap: 22.5px;
}

.login_form__k1kAj h1 {
  font-size: 2em;
  font-weight: bolder;
}

.login_form__k1kAj input {
  width: 100%;
  padding: 15px 20px;
  background: var(--bg);
  border-radius: 7.5px;
  border: 2px solid #2e374a;
}

.login_form__k1kAj input:focus {
  outline: none;
}
.login_form__k1kAj button {
  width: 100%;
  background-color: teal;
  padding: 15px;
  border-radius: 7.5px;
}

