/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pagination_button__63zCc {
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination_previous__HV_O9,
.pagination_next__xfUzU {
  background-color: #243358;
}

.pagination_button__63zCc:disabled {
  cursor: not-allowed;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/products/products.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.products_container__U7aQ1 {
  background-color: var(--bgSoft);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.products_top__MAXjI {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products_addNew__8d0i6 {
  padding: 10px;
  border-radius: 5px;
  background-color: #5d57ce;
}

.products_table__xNwNf {
  width: 100%;
}

.products_table__xNwNf td {
  padding: 10px;
}

.products_user__D1dSN {
  display: flex;
  gap: 10px;
  align-items: center;
}

.products_userImage__Nj8NU {
  border-radius: 50%;
  object-fit: cover;
}

.products_buttons__ZaOw3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.products_button__BfplZ {
  color: var(--text);
  padding: 5px 10px;
  border-radius: 5px;
}

.products_edit__Kl2B5 {
  background-color: teal;
}

.products_delete__RkLwB {
  background-color: crimson;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #2e375a;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}

.search_input__vdsRR {
  background: transparent;
  border: none;
  color: var(--text);
}

.search_input__vdsRR:focus {
  outline: none;
}

