.container {
  height: 450px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--textSoft);
}
