.container {
  background-color: var(--bgSoft);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 30px;
  background: var(--bg);
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px solid #2e374a;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

.form input {
  width: 45%;
}

.form select {
  width: 45%;
}

.form textarea,
.form button {
  width: 100%;
}

.form button {
  background-color: teal;
  padding: 20px;
  border-radius: 10px;
}

/* Hanok daile shikhako */
.form input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form select:focus {
  outline: none;
}
