body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

.welcome h1 {
  font-size: 2em;
  font-weight: bolder;
}

.welcome p {
  font-size: 14px;
  font-weight: 400;
  color: var(--textSoft);
}

.container {
  width: 375px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 35px;
  background: rgba(12, 12, 12, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1.5px solid rgba(255, 255, 255, 0.05);
}

.button {
  background-color: rgb(187, 11, 187);
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  border-radius: 7.5px;
  color: white;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background: rgba(10, 9, 9, 0.1);
  border: 1.5px solid transparent;
  border-radius: 7.5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3.4px);
}

.dashboard {
  cursor: not-allowed;
}

.connect {
  background: rgba(12, 12, 12, 0.1);
  border-radius: 16px;
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  color: white;
  margin-bottom: 5px;
  padding: 5px 20px;
  font-weight: 400;
  width: max-content;
}

.name {
  --offset: 10px;
  --border-size: 2px;
  margin-top: 5px;
  display: block;
  position: relative;
  padding: 0.5em 1em;
  appearance: none;
  border: 0;
  background: rgba(10, 9, 9, 0.1);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}

.name:hover {
  background: rgba(100, 0, 0, 0.03);
}

.name__horizontal,
.name__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}

.name__horizontal::before,
.name__vertical::before {
  content: "";

  position: absolute;
  border: inherit;
}

.name__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.name__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.name:hover .name__horizontal {
  transform: scaleX(0);
}

.name__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.name__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.name:hover .name__vertical {
  transform: scaleY(0);
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the spinner is above other content */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
