.container {
  display: flex;
}

.menu {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
}

.content {
  flex: 4;
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.side {
  flex: 1;
}

.rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.rights p {
  font-size: 14px;
  font-weight: 600;
}

.rights a {
  color: teal;
}
