/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/navbar/navbar.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_container__wgx6E {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
}

.navbar_title__fXyFf {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.navbar_menu__I_JWq {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar_search___WH_U {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #2e375a;
  padding: 10px;
  border-radius: 10px;
}

.navbar_input__n6iGr {
  background: transparent;
  border: none;
  color: var(--text);
}
.navbar_input__n6iGr:focus {
  outline: none;
}

.navbar_icons__powNM {
  display: flex;
  gap: 20px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/sidebar/menuLink/menuLink.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.menuLink_container__jsAb6 {
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  margin: 5px 0;
  border-radius: 10px;
}

.menuLink_container__jsAb6:hover,
.menuLink_active__0jFVX {
  background-color: #2e374a;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/sidebar/sidebar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar_container__98R6a {
  position: sticky;
  top: 40px;
}

.sidebar_user__RC2Iy {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.sidebar_userImage__Mmmhu {
  border-radius: 50%;
  object-fit: cover;
}

.sidebar_userDetails__efK_X {
  display: flex;
  flex-direction: column;
}

.sidebar_userName__eikUB {
  font-weight: 500;
}

.sidebar_userTitle__Cf6_w {
  font-size: 12px;
  color: var(--textSoft);
}

.sidebar_cat__7oOge {
  color: var(--textSoft);
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

.sidebar_logout__iruON {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 5px 0;
  gap: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.sidebar_logout__iruON:hover {
  background: #2e374a;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/dashboard.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_container__FPt6d {
  display: flex;
}

.dashboard_menu__kkWR1 {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
}

.dashboard_content__sQime {
  flex: 4;
  padding: 20px;
}

.dashboard_wrapper__BHOQf {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.dashboard_main__h9_Qo {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard_card__KyCkw {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.dashboard_side__cRt2d {
  flex: 1;
}

