/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/users/users.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.users_container__8LN16 {
  background-color: var(--bgSoft);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.users_top__0diO6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users_addNew__XqJ0i {
  padding: 10px;
  border-radius: 5px;
  background-color: #5d57ce;
}

.users_table__Ll_mR {
  width: 100%;
}

.users_table__Ll_mR td {
  padding: 10px;
}

.users_user__aIQGo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.users_userImage__l_CGj {
  border-radius: 50%;
  object-fit: cover;
}

.users_buttons__WTiXm {
  display: flex;
  gap: 10px;
  align-items: center;
}

.users_button__l22ky {
  color: var(--text);
  padding: 5px 10px;
  border-radius: 5px;
}

.users_edit__3dTIF {
  background-color: teal;
}

.users_delete__b_veK {
  background-color: crimson;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #2e375a;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}

.search_input__vdsRR {
  background: transparent;
  border: none;
  color: var(--text);
}

.search_input__vdsRR:focus {
  outline: none;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pagination_button__63zCc {
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination_previous__HV_O9,
.pagination_next__xfUzU {
  background-color: #243358;
}

.pagination_button__63zCc:disabled {
  cursor: not-allowed;
}

