/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/ui/homepage.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

.welcome {
  font-size: 2em;
  font-weight: bolder;
}

.container {
  width: 375px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 35px;
  background: rgba(12, 12, 12, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1.5px solid rgba(255, 255, 255, 0.05);
}

.button {
  background-color: rgb(187, 11, 187);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.text {
  color: #000000;
}

.button:hover,
.name:hover {
  background: rgba(10, 9, 9, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3.4px);
}

.lh {
  line-height: 30px;
}

.name {
  background-color: rgb(187, 11, 187);
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  padding: 0.75rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  font-size: 1.5rem;
  font-weight: 500;
}

/* .name:hover {

} */

